body{
    background:linear-gradient(red 40%, gold 60%);
    margin: 0;
    align-content: center;
}
.containers{
    width: 85%;
    margin: 0 auto;
    align-content: center;
}
.header{
    background: rgb(250,205,20);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.logo{
    margin: 10px auto;
	display:block;
}
.grande{
    align-content: center;
    background: white;
    width: 85%;
    height: 50%;
    margin: 10px auto;
	display:block;
}
.footer{
    align-content: center;
    background: green;
    text-align: center;
    padding: 0.4rem 0;
    margin-top: 50px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    font-size: 20px;
}
.cuadro{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    background: rgb(255,0,0);
}
.txt{
    width: 200px;
    height: 200px;
    text-align: center;
    background: rgb(255,128,0);
}
img{
    padding: 0.5rem 1rem;
}
.container{
    width: 85%;
    margin: 0 auto;
}
main{
    padding-top: 10rem;
    align-content: center;
}
.m{
    margin-left: 125px;
    border: yellow 8px outset;
}
.container2{
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    align-content: center;
}
.cuadro2{
    margin-left: 75px;
    margin-right: 75px;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
}
.slogan{
    text-align: center;
    font-size: 25px;
}