body{
    background: rgb(255, 255, 66);
    margin: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
    align-content: center;
}
.header{
    background: orange;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
}
.containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    font-size: 20px;
}
a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    text-decoration: none;
    color: black;
}
.logo{
    padding-left: 125px;
}
.logotitulo{
  position: fixed;
  top: -20;
  left: 250;
  font-size: 48px;
}
a:hover{
    background: rgb(158, 71, 24);
    color: orange;
}
.footer{
    align-content: center;
    background: green;
    text-align: center;
    padding: 0.4rem 0;
    margin-top: 236px;
}
main{
    padding-top: 8rem;
}
img{
    padding: 0.5rem 1rem;
}
.orilla{
    margin-right: 100px;
}
.boton{
    background-color: orange;
    width: 75px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}
.boton2{
    background-color: orange;
    margin-top: 30px;
    justify-content: center;
    height:40px;
    width: 200px;
    align-content: center;
    margin-left: 238px;
    font-size: 16px;
    border-radius: 10px;
}
.cuadro{
    background: white;
    margin-left: 75px;
}
.txt{
    background: white;
    width: 180px;
    margin-left: 75px;
    text-align: center;
}
